body {
    margin: 0px;
    text-align: center;
    /* background-color: lightgrey; */
    font-family: 'Nanum Gothic', sans-serif;
}

/* pageSection */
.pageSection {
    padding: 10px;
}


/* mainSection */
.displayTime {
    font-size: 50px;
    padding: 20px;
}

.controlBox {
    padding: 10px;
}

.controlBtn {
    margin: 5px;
    width: 120px;
    height: 50px;
    border: none;
    background-color: lightpink;
    font-size: 20px;
    cursor: pointer;
}

.mainBox {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timerBtn {
    margin: 5px;
    width: 100px;
    height: 70px;
    cursor: pointer;
    font-size: 20px;
    background-color: darkgray;
    border: none;
}

@media screen and (max-width: 600px) {
    .mainBox {
        flex-direction: column;
    }
}